<div class="adminx-sidebar expand-hover push">
  <ul class="sidebar-nav">
    <li class="sidebar-nav-item">
      <a href="{% url 'index_home' %}" class="sidebar-nav-link active">
        <span class="sidebar-nav-icon">
          <i data-feather="home"></i>
        </span>
        <span class="sidebar-nav-name">
          Dashboard
        </span>
        <span class="sidebar-nav-end">
        </span>
      </a>
    </li>

    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#example" aria-expanded="false" aria-controls="example">
        <span class="sidebar-nav-icon">
          <i data-feather="edit"></i>
        </span>
        <span class="sidebar-nav-name">
          Maestros
        </span>
        <span class="sidebar-nav-end">
          <i data-feather="chevron-right" class="nav-collapse-icon"></i>
        </span>
      </a>

      <ul class="sidebar-sub-nav collapse" id="example">

        <li class="sidebar-nav-item">
          <a href="{% url 'listado_clientes' %}" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              Cl
            </span>
            <span class="sidebar-nav-name">
              Clientes
            </span>
          </a>
        </li>

        <li class="sidebar-nav-item">
          <a href="{% url 'listado_categorias' %}" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              Ca
            </span>
            <span class="sidebar-nav-name">
              Categorias
            </span>
          </a>
        </li>

        <li class="sidebar-nav-item">
          <a href="{% url 'listado_proveedores' %}" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              Pr
            </span>
            <span class="sidebar-nav-name">
              Proveedores
            </span>
          </a>
        </li>

        <li class="sidebar-nav-item">
          <a href="{% url 'listado_productos' %}" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              Pro
            </span>
            <span class="sidebar-nav-name">
              Productos
            </span>
          </a>
        </li>
      </ul>
    </li>

    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#example2" aria-expanded="false" aria-controls="example2">
        <span class="sidebar-nav-icon">
          <i data-feather="file-text"></i>
        </span>
        <span class="sidebar-nav-name">
          Cotizaciones
        </span>
        <span class="sidebar-nav-end">
          <i data-feather="chevron-right" class="nav-collapse-icon"></i>
        </span>
      </a>

      <ul class="sidebar-sub-nav collapse" id="example2">
        <li class="sidebar-nav-item">
          <a href="{% url 'listar_cotizaciones' %}" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              BJ
            </span>
            <span class="sidebar-nav-name">
              Bandeja de Cotizaciones
            </span>
          </a>
        </li>
      </ul>

   
    </li>

    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#example3" aria-expanded="false" aria-controls="example3">
        <span class="sidebar-nav-icon">
          <i data-feather="credit-card"></i>
        </span>
        <span class="sidebar-nav-name">
          Ventas
        </span>
        <span class="sidebar-nav-end">
          <i data-feather="chevron-right" class="nav-collapse-icon"></i>
        </span>
      </a>

      <ul class="sidebar-sub-nav collapse" id="example3">
        <li class="sidebar-nav-item">
          <a href="{% url 'listar_ventas' %}" class="sidebar-nav-link">
            <span class="sidebar-nav-abbr">
              BV
            </span>
            <span class="sidebar-nav-name">
              Bandeja de Ventas
            </span>
          </a>
        </li>
      </ul>

      <li class="sidebar-nav-item">
        <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#example4" aria-expanded="false" aria-controls="example4">
          <span class="sidebar-nav-icon">
            <i data-feather="clipboard"></i>
          </span>
          <span class="sidebar-nav-name">
            Compras
          </span>
          <span class="sidebar-nav-end">
            <i data-feather="chevron-right" class="nav-collapse-icon"></i>
          </span>
        </a>
  
        <ul class="sidebar-sub-nav collapse" id="example4">
          <li class="sidebar-nav-item">
            <a href="{% url 'listar_compras' %}" class="sidebar-nav-link">
              <span class="sidebar-nav-abbr">
                CO
              </span>
              <span class="sidebar-nav-name">
                Bandeja de Compras
              </span>
            </a>
          </li>
        </ul>

   
    </li>

    <li class="sidebar-nav-item">
      <a href="{% url 'logoutapp' %}" class="sidebar-nav-link active">
        <span class="sidebar-nav-icon">
          <i data-feather="log-out"></i>
        </span>
        <span class="sidebar-nav-name">
          Cerrar Session
        </span>
        <span class="sidebar-nav-end">
        </span>
      </a>
    </li>
  </ul>
</div>


