{% extends 'base.html' %}
{% block title %}Listado de Categorias{% endblock %}

{% block content %}

  <!-- Main Content -->
  <div class="adminx-content">
    <div class="adminx-main-content">
      <div class="container-fluid">

        
        <!-- BreadCrumb -->
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb adminx-page-breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index_home' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">Categorias</a></li>
          </ol>
        </nav>
        
        <div class="text-right">
         <a href="{% url 'agregar_categoria' %}" class="btn btn-lg btn-labeled-right btn-info mr-2 btn-sm mr-2">
            <span class="btn-label">
              <span class="oi oi-arrow-thick-right" aria-hidden="true"></span>
            </span>
            <span class="btn-text">
              Agregar
            </span>
          </a> 
        </div>
        
        <div class="pb-3">          
          <h1>Categorias</h1>
        </div>
        <div class="row">
          <div class="col">
            <div class="card mb-grid">
              <div class="table-responsive-md">
                <table class="table table-actions table-striped table-hover mb-0" id=datatable-categorias data-table>
                  <thead>
                    <tr>
                     
                      <th scope="col">Codigo</th>
                      <th scope="col">Nombre</th>
                      <th class="center">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in Categorias %}  
                    <tr id="item-{{item.id}}">
                      <td> {{ item.id }} </td>
                      <td>{{item.nombre}}</td>
                      <td>
                        <a href="{% url 'categoria_visualizar' item.id %}" class="btn btn-icon btn-sm mr-2">
                          <i data-feather="eye"></i>
                        </a>
                        <button class="btn btn-icon btn-sm mr-2" onClick="deleteCategoria({{item.id}})">
                          <i data-feather="trash-2"></i>
                        </button>        
                      </td>
                    </tr>
                  {% endfor %}   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% block javascripts %}
<script>
  $(document).ready(function() {
    var table = $('[data-table]').DataTable({
    language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
              },
              bLengthChange: true,
              "iDisplayLength": 10,
              bInfo: true,
              responsive: true,
              "bAutoWidth": false,
              "columns": [
                null,
                null,
                { "orderable": false },
              ],
              layout: {
                topStart: {
                    buttons: [
                       {
                            extend: 'copy',
                            text: '<i class="fas fa-copy"></i> Copiar', 
                            
                            
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fas fa-file-excel"></i> Excel',
                            
                        },
                        {
                          extend: 'pdfHtml5',
                          text: '<i class="fas fa-file-pdf"></i> PDF',
                          
                        },
                        {
                          extend: 'colvis',
                          text: '<i class="fas fa-columns"></i> Ver',
                          
                        },
                    ],
                    
                }
            }
          });
    });

function deleteCategoria(id) {
      Swal
        .fire({
            title: "Desea Eliminar la Categoria?",
            text: "Con codigo "+id,
            icon: 'error',
            showCancelButton: true,
            confirmButtonText: "Sí, eliminar",
            cancelButtonText: "Cancelar",
        })
        .then(resultado => {
            if (resultado.value) {
              $.ajax({
                url: "{% url 'categoria_eliminar'  %}",
                data: {
                    'id': id,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                      $("#datatable-categorias #item-" + id).remove();
                     }
                    }
                  });
            
            } else {
                console.log("*NO se elimina la categoria*");
            }   
            })
        }
</script> 

{% endblock javascripts %}

{% endblock  %}