{% extends 'base.html' %}
{% block title %}Listado de Ventas{% endblock %}


{% block content %}

  <div class="adminx-content">
    <div class="adminx-main-content">
      <div class="container-fluid">

        
    
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb adminx-page-breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index_home' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">Ventas</a></li>
          </ol>
        </nav>
        
        

        <div class="pb-3">          
          <h1>Ventas</h1>
        </div>
        <div class="row">
          <div class="col">
            <div class="card mb-grid">
              <div class="table-responsive-md">
                <table class="table table-actions table-striped table-hover mb-0" id=datatable-ventas data-table>
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Cliente</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Comentario</th>
                      <th scope="col">Descuento</th>
                      <th scope="col">Neto</th>
                      <th scope="col">Usuario</th>
                      <th class="center">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in ventas %}  
                    <tr id="item-{{item.id}}" class=>
                      <td>
                          {{ item.nroventa }}
                      </td>
                      <td>{{item.tipo_venta}}</td>
                      <td>{{item.cliente}}</td>
                      <td>{{item.fecha_venta|date:"d/m/Y" }}</td>
                      <td>{{item.comentario}}</td>
                      <td>{{item.total_descuento}}</td>
                      <td>{{item.total_neto}}</td>
                      <td>{{item.persona_creo_venta}}</td>
                      <td>
                        <a href="{% url 'Visualizar_Venta' item.nroventa   %}" class="btn btn-icon btn-sm mr-2">
                          <i data-feather="eye"></i>
                        </a>
                        
                        <button class="btn btn-icon btn-sm mr-2" onClick="">
                          <i data-feather="trash-2"></i>
                        </button>
                        
                      </td>
                    </tr>
                  {% endfor %}   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% block javascripts %}

<script>
  $(document).ready(function() {
    var table = $('[data-table]').DataTable({
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
          },
        bLengthChange: true,
        "iDisplayLength": 10,
        bInfo: false,
        responsive: true,
        "bAutoWidth": false,
        "columns": [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            { "orderable": false },
        ]
  });
});
</script>

{% endblock javascripts %}

{% endblock  %}