{% extends 'base.html' %}
{% block title %} Agregar Cliente {% endblock %} 
{% block content %}

<div class="adminx-content">
  <div class="adminx-main-content">
    <div class="container-fluid">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb adminx-page-breadcrumb">
          <li class="breadcrumb-item"><a href="">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'listado_clientes' %}">Cientes</a></li>
        </ol>
      </nav>
      <div class="pb-3">          
        <h1>Agregar Clientes</h1>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-grid">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <div class="card-header-title">Ingrese el Nuevo Cliente</div>

              <nav class="card-header-actions">
                <a
                  class="card-header-action"
                  data-toggle="collapse"
                  href="#card1"
                  aria-expanded="false"
                  aria-controls="card1">
                  <i data-feather="minus-circle"></i>
                </a>

                <div class="dropdown">
                  <a
                    class="card-header-action"
                    href="#"
                    role="button"
                    id="card1Settings"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i data-feather="settings"></i>
                  </a>

                  
                </div>

                <a href="#" class="card-header-action">
                  <i data-feather="x-circle"></i>
                </a>
              </nav>
            </div>
            <div class="card-body collapse show" id="card1">       
               <form class="forms-sample" id="formcliente" method="POST">{% csrf_token %} 
                <div class="form-group">
                  <label class="form-label" for="txtnomclie">Nombre</label>
                  <input class="form-control mb-2" type="text"  id="txtnomclie"  required>
                </div>

                <div class="form-group">
                  <label class="form-label" for="txtrucclie">RUC</label>
                  <input class="form-control mb-2" type="text"  id="txtrucclie"  required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="txtdirclie">Direccion</label>
                    <input class="form-control mb-2" type="text"  id="txtdirclie"  required>
                  </div>

                  

                  <div class="form-group">
                    <label class="form-label" for="txttelclie">Telefono</label>
                    <input class="form-control mb-2" type="text"  id="txttelclie"  required>
                  </div>
                  
                  <div class="form-group">
                    <label class="form-label" for="txtemailclie">Email</label>
                    <input class="form-control mb-2" type="Email"  id="txtemailclie"  required>
                  </div>

                  <div class="form-group">
                    <label class="form-label" for="txtcontactoclie">Contacto</label>
                    <input class="form-control mb-2" type="text"  id="txtcontactoclie"  required>
                  </div>

                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="chkestadoclie"
                    />
                    <label class="custom-control-label" for="chkestadoclie"
                      >Activo</label
                    >
                  </div>
                </div>
                <button type="submit"  class="btn btn-icon btn-info">Grabar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>

{% block javascripts %}


<script>
  var formData = new FormData();
  $("#formcliente").submit(function (e) {
      e.preventDefault();
      
      formData.append('txtnomclie', $('#txtnomclie').val())
      formData.append('txtrucclie',$('#txtrucclie').val())
      formData.append('txtdirclie',$('#txtdirclie').val())
      formData.append('txttelclie',$('#txttelclie').val())
      formData.append('txtemailclie',$('#txtemailclie').val())
      formData.append('txtcontactoclie',$('#txtcontactoclie').val())
      formData.append('action','registrar_cliente')
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
      $.ajax({
          type: 'POST',
          url: '{% url "registrar_clientes" %}',
          data: formData,
          cache: false,
          processData: false,
          contentType: false,
          enctype: 'multipart/form-data',
          success: function (json) {
              if (json.flag) {
                  Swal.fire(
                      'Felicitaciones',
                      json.msg,
                      'success'
                      ).then(() => {
                        window.location.href = '/listado_clientes';  
                        });
              } else {
                  Swal.fire(
                      'ERROR',
                      json.msg,
                      'error'
                      
                  )
              }
          },
          error: function (response) {
              console.log(response)
          }
      });
  });
</script> 



{% endblock javascripts %}

{% endblock %}
