{% extends 'base.html' %}
{% block title %} Editar Productos {% endblock %} 

{% block content %}

<div class="adminx-content">
  <div class="adminx-main-content">
    <div class="container-fluid">

      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb adminx-page-breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index_home' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'listado_productos' %}">Productos</a></li>
        </ol>
      </nav>

      <div class="pb-3">          
        <h1>Editar Productos</h1>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-grid">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <div class="card-header-title">Datos del Producto</div>

              <nav class="card-header-actions">
                <a
                  class="card-header-action"
                  data-toggle="collapse"
                  href="#card1"
                  aria-expanded="false"
                  aria-controls="card1"
                >
                  <i data-feather="minus-circle"></i>
                </a>

                <div class="dropdown">
                  <a
                    class="card-header-action"
                    href="#"
                    role="button"
                    id="card1Settings"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i data-feather="settings"></i>
                  </a>

                  
                </div>

                <a href="#" class="card-header-action">
                  <i data-feather="x-circle"></i>
                </a>
              </nav>
            </div>
            <div class="card-body collapse show" id="card1">       
               <form class="forms-sample" id="formeditproducto" method="POST">{% csrf_token %} 
                <div class="form-group">
                  <label class="form-label" for="txtnomprod">Nombre Producto</label>
                  <input class="form-control mb-2" type="text"  id="txtnomprod" value="{{productos.nombre}}" required>
                </div>

                <div class="form-group">
                  <label class="form-label" for="cmbcategoria">Categoria</label>
                  <select class="form-control" id="cmbcategoria">
                    <option  value="" selected="selected">{{categoriaseleccionado}}</option>
                      {% for item in Categorias %}
                          <option value="{{item.id}}">{{item.nombre}}</option>
                      {% endfor %}
                  </select>
              </div>

              <div class="form-group">
                <label class="form-label" for="cmbumedida">Unidad Medida</label>
                <select class="form-control" id="cmbumedida">
                  <option  value="" selected="selected">{{umedidaseleccionado}}</option>
                    {% for item in Umedida %}
                        <option value="{{item.id}}">{{item.nombre}}</option>
                    {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label class="form-label" for="txtdescripcion">Descripcion</label>
                <textarea class="form-control" id="txtdescripcion" rows="3">{{productos.descripcion}}</textarea>
              </div>

              <div class="form-group">
                <label class="form-label" for="cmbproveedores">Proveedor</label>
                <select class="form-control" id="cmbproveedores">
                  <option  value="" selected="selected">{{proveedorseleccionado}}</option>
                    {% for item in Proveedores %}
                        <option value="{{item.id}}">{{item.nombre}}</option>
                    {% endfor %}
                </select>
              </div>

             

              <div class="form-group">
                <label class="form-label" for="txtcostoreal">Costo Real</label>
                <input class="form-control mb-2" type="text"  id="txtcostoreal"  value="{{productos.costo_real}}" required>
              </div>

              
              <div class="form-group">
                <label class="form-label" for="txtcostofrecido">Costo Ofrecido</label>
                <input class="form-control mb-2" type="text"  id="txtcostofrecido"  value="{{productos.costo_ofrecido}}" required>
              </div>

              {% comment %} <div class="form-group">
                <label class="form-label" for="txtganancia">Ganancia</label>
                <input class="form-control mb-2" type="text"  id="txtganancia"  value="{{productos.ganancia}}" required>
              </div> {% endcomment %}

               

                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="chkestadopre"
                    />
                    <label class="custom-control-label" for="chkestadopre"
                      >Activo</label
                    >
                  </div>
                </div>
                <button type="submit"   class="btn btn-primary">Grabar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>

{% block javascripts %}


<script>
  var formData = new FormData();
  $("#formeditproducto").submit(function (e) {
      e.preventDefault();
      formData.append('txtnomprod', $('#txtnomprod').val())
      formData.append('txtdescripcion',$('#txtdescripcion').val())
      formData.append('txtcostoreal',$('#txtcostoreal').val())
      formData.append('txtcostofrecido',$('#txtcostofrecido').val())
     /* formData.append('txtganancia',$('#txtganancia').val()) */
      formData.append('cmbumedida', $('#cmbumedida').val())
      formData.append('cmbcategoria',$('#cmbcategoria').val())
      formData.append('cmbproveedores',$('#cmbproveedores').val())

  
      formData.append('action','actualizar_productos')
    
      formData.append('id',{{productos.id}})    
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
      $.ajax({
          type: 'POST',
          url: '{% url "productos_actualizar" %}',
          data: formData,
          cache: false,
          processData: false,
          contentType: false,
          enctype: 'multipart/form-data',
          success: function (json) {
              if (json.flag) {
                  Swal.fire(
                      'Felicitaciones',
                      json.msg,
                      'success'
                      ).then(() => {
                        window.location.href = '/listado_productos';  
                        });
              } else {
                  Swal.fire(
                      'ERROR',
                      json.msg,
                      'error'
                      
                  )
              }
          },
          error: function (response) {
              console.log(response)
          }
      });
  });
</script> 

<script>
  function img_pathUrl(input){
    $('#img_url')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
  }
</script>

{% endblock javascripts %}

{% endblock %}
