{% extends 'base.html' %}
{% block title %} Editar Cliente {% endblock %} 

{% block content %}

<div class="adminx-content">
  <div class="adminx-main-content">
    <div class="container-fluid">

      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb adminx-page-breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index_home' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'listado_clientes' %}">Clientes</a></li>
        </ol>
      </nav>

      <div class="pb-3">          
        <h1>Editar Clientes</h1>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-grid">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <div class="card-header-title">Datos del Cliente</div>

              <nav class="card-header-actions">
                <a
                  class="card-header-action"
                  data-toggle="collapse"
                  href="#card1"
                  aria-expanded="false"
                  aria-controls="card1"
                >
                  <i data-feather="minus-circle"></i>
                </a>

                <div class="dropdown">
                  <a
                    class="card-header-action"
                    href="#"
                    role="button"
                    id="card1Settings"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i data-feather="settings"></i>
                  </a>

                  
                </div>

                <a href="#" class="card-header-action">
                  <i data-feather="x-circle"></i>
                </a>
              </nav>
            </div>
            <div class="card-body collapse show" id="card1">  
                <form class="forms-sample" id="formeditcliente" method="POST">{% csrf_token %}      
                <div class="form-group">
                  <label class="form-label" for="txtnom"
                    >Nombre</label>
                  <input class="form-control mb-2" type="text"  id="txtnom" name="txtnom" value="{{cliente.nombre}}" required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="txtruc" >Ruc</label>
                    <input class="form-control mb-2" type="text" id="txtruc" name="txtruc" value="{{cliente.ruc}}" required>
                  </div>

                <div class="form-group">
                    <label class="form-label" for="txtdir"
                      >Direccion</label>
                    <input class="form-control mb-2" type="text"  id="txtdir" name="txtdir" value="{{cliente.direccion}}" required>
                  </div>


                  <div class="form-group">
                    <label class="form-label" for="txtfono"
                      >Telefono</label>
                    <input class="form-control mb-2" type="text"  id="txtfono" name="txtfono" value="{{cliente.telefono}}" required>
                  </div> 

                  <div class="form-group">
                    <label class="form-label" for="txtemail"
                      >Email</label>
                    <input class="form-control mb-2" type="text"  id="txtemail" name="txtemail" value="{{cliente.email}}" required>
                  </div> 

                  <div class="form-group">
                    <label class="form-label" for="txtcontacto"
                      >Contacto</label>
                    <input class="form-control mb-2" type="text"  id="txtcontacto" name="txtcontacto" value="{{cliente.contacto}}" required>
                  </div> 

                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="chkestadoclie"
                    />
                    <label class="custom-control-label" for="chkestadoclie"
                      >Activo</label
                    >
                  </div>
                </div>

                <button type="submit"  class="btn btn-icon btn-info">Grabar</button>

              </form>
            </div>
          </div>
        </div>
      </div>
</div>

{% block javascripts %}

<script>
    var formData = new FormData();
    $("#formeditcliente").submit(function (e) {
        e.preventDefault();
        formData.append('txtnom', $('#txtnom').val())
        formData.append('txtruc',$('#txtruc').val())
        formData.append('txtdir',$('#txtdir').val())
        formData.append('txtfono',$('#txtfono').val())
        formData.append('txtemail',$('#txtemail').val())
        formData.append('txtcontacto',$('#txtcontacto').val())
        formData.append('action','actualizar_cliente')
        formData.append('id',{{cliente.id}})
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        $.ajax({
            type: 'POST',
            url: '{% url "cliente_actualizar" %}',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function (json) {
                if (json.flag) {
                    Swal.fire(
                        'Felicitaciones',
                        json.msg,
                        'success'
                    ).then(() => {
                      window.location.href = '/listado_clientes';  
                      });
                } else {
                    Swal.fire(
                        'ERROR',
                        json.msg,
                        'error'
                        
                    )
                }
            },
            error: function (response) {
                console.log(response)
            }
        });
    });
  </script> 
  


{% endblock javascripts %}

{% endblock %}
